<div class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Delete all imported comments?</h3>
  </div>
  <div class="modal-body">
    <p>It looks like these comments were imported together.</p>
    <p>Do you want to delete all of them?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" id="delete_selected">Delete the selected comments</button>
    <button type="button" class="btn btn-danger" id="delete_imported">Delete all the comments imported with them</button>
  </div>
</div>
