<div class="feedback-comment feedback-edit-comment feedback-edit-multiple">
  <div class="feedback-header">
    <a href="#" class="feedback-comment-close"><i class="fa fa-times" /></a>

    <span class="feedback-customer unknown">{{count}} selected comments</span>
  </div>

  <div class="feedback-body">
    <div class="feedback-tags">
      <div class="feedback-tag-list">
        {{#each tags}}
          <span class="feedback-tag" style="background: rgba(170, 170, 170, {{percent}})">
            {{name}}
            <a class="feedback-remove-tag"><i class="fa fa-close"></i></a>
          </span>
        {{/each}}
      </div>
      <input type="text" class="feedback-new-tag mousetrap" placeholder="New Tag" />
    </div>
  </div>

  <div class="feedback-commands">
    {{#if permissions/destroy}}
    <a class="btn-delete" title="Delete"><i class="fa fa-trash"></i></a>
    {{/if}}
    {{#if permissions/update}}
    <a class="btn-move" title="Change Project"><i class="fa fa-arrow-circle-right"></i></a>
    {{/if}}

    <button class="btn btn-read btn-small btn-default {{#if read}}active{{/if}}" data-toggle="button">Read</button>
    {{#if archived}}
      <button class="btn btn-unarchive btn-small btn-default">Unarchive</button>
    {{else}}
      <button class="btn btn-archive btn-small btn-default">Archive</button>
    {{/if}}
  </div>
</div>
