<div class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Move Feedback</h3>
  </div>
  <div class="modal-body">
    <p>Move the selected feedback to a new project</p>
    <label for="conversations_new_project">New Project</label>
    <select id="conversations_new_project" name="project">
      <option value="">Select a Project</option>
      {{#projects}}
        <option value="{{id}}" {{#if current}}disabled{{/if}}>{{name}}</option>
      {{/projects}}
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-danger" disabled id="move_conversations_button">Move Feedback</button>
  </div>
</div>
