Found <span class="feedback-search-quantity"><span class="count">{{results}}</span> conversations</span>
{{#if searchTime}}
in <span class="feedback-search-quantity"><span class="count">{{searchTime}}</span> milliseconds</span>
{{/if}}
