#feedback_csv_import_modal {
  width: 640px;

  .modal-body {
    padding: 0;
    max-height: none;
    overflow: visible;
  }

  .span6 {
    border-right: 1px solid transparent;
    padding-right: 1.06382978723404%;
  }

  .span6 + .span6 {
    margin-left: 0;
    padding-left: 1.06382978723404%;
    border-left: 1px solid #f0f0f0;
    border-right: none;
    padding-right: 0;
  }

  .instructions {
    margin: 0;
    box-sizing: border-box;

    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;

    .span6 {
      padding-top: 15px;
      padding-bottom: 5px;
    }

    .span6 + .span6 {
      border-left-color: #e8e8e8;
    }

    .csv-fields {
      padding: 0 8px 6px;
      white-space: nowrap;
    }
  }

  .scrollable-container {
    max-height: 300px;
    overflow-y: scroll;

    .csv-fields { padding: 8px 15px; }
  }

  .padded {
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 8px 15px;
  }

  .feedback-tags { background: transparent; }

  .csv-field .example {
    display: block;
    color: #aaa;
    font-size: 0.88em;
  }
}
